extends layout

block content
  style(type="text/css" media="screen").
        #editor{
          top:0;
          right:0;
          bottom:0;
          left:0;
          height:500px;
          font-size:14px;
        }
  script(type="text/javascript",data-main="/javascripts/editor/main",src="/requirejs/require.js")
  .row.clearfix
    .col-md-12.column
      form.form-horizontal(role="form",ng-controller="formCtrl")
        .form-group
          label.col-sm-2.control-label(for="inputEmail3") 设置根路径
          | 					
          .col-sm-10
            input#inputEmail3.form-control(type="text",ng-model="data.root")
        | 				
        .form-group
          label.col-sm-2.control-label(for="inputPassword3") 搜索内容
          | 					
          .col-sm-10
            input#inputPassword3.form-control(type="password")
        | 				
        | 				
        .form-group
          .col-sm-offset-2.col-sm-10
            button.btn.btn-default(type="submit",ng-click="search()") 按文件名搜索
            | 						 
            button.btn.btn-default(type="submit") 全文搜索
  div(ng-view)
